@unocss;

.ant-layout-header.ant-pro-layout-header-fixed-header {
  inset-inline-end: auto !important;
  background-color: #fff !important;
}

.ant-pro-sider.ant-pro-sider-fixed-mix {
  inset-block-start: 0 !important;
  height: 100% !important;
  background-color: #fff !important;
}

.ant-pro-sider-logo {
  padding: 0 !important;
  height: 56px;
}

/* 定义项目的全局样式 */
:root {
  --primary-color: 255 0 0;
}
